.palindromes-list-container {
    cursor: pointer;
    margin: auto;
    width: 30%;
    top: 50%;
    transform: translate(0, 50%);
    border: 5px solid #070707;
    padding: 10px;
    text-align: center;

  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    .content-result{
        transform: translate(40%, 0);
        font-size: xx-large;
        text-align: center;
    }
  }